# Backend Environment Variables
PORT=5000
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_DATABASE_URL=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=live
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
ADMIN_SECRET_KEY=
RESEND_API_KEY=re_HUwZFShV_95DsebV3wUZwZLEtjWZzXxoJ

# Frontend Environment Variables (Vite)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_DATABASE_URL=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_API_BASE_URL=http://localhost:5000

# 2Checkout Configuration
VITE_TWOCHECKOUT_MERCHANT_CODE=255485315409
VITE_TWOCHECKOUT_BUY_LINK=U35f!2#d*843ET8tFm4kvfNPXUD8mEdJcQsKvE*A2tKg@NeXM@D$$uHtVeUHkKQ$
